@charset "utf-8";
/* CSS Document */


#page-header h1{
	
	font-weight: bold;
	font-size: 24px;
	text-align:center;
	/*background-color: rgba(0,0,0,1.00);*/
	color: #FFFFFFF;
	}

body { 
background-color: #A2A2A2;
}
#footer {
	width: 100vw;	
	align: bottom; 
	position:fixed;
	bottom:0;	
}
#input {
	width:80vw; 
    
}
#submit {
	width: 40vw; 
}
#chat {
	width: 100vw;
	height: 80vh;
	display:block;
	position:relative;
	overflow-y: scroll; 
	
	margin-bottom: 10px;  
	
	background-color:rgba(255,255,255,1.00);
	
	
	} 

#conversation p{
    bottom:0; 
	padding-bottom: 0; 
    
	font-weight: bold; 
	
}

#chat-frame {
	width: 100vw;
	height:80vh; 
background-color: rgba(255,255,255,1.00);

}
.form {
	width:100vw;
}

