@charset "utf-8";
/* CSS Document */

p, a, h1, h2, h3, .option-button, .options-btn, textarea {
	font-family: roboto,verdana, arial;
	color: #00000000;
}
html body {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}
body {
	overflow: hidden;
	width: 100vw;
	margin: 0px;
}
#chatbot {
	height: 100vh;
	margin: 0;
	padding: 0;
	display: block;
	z-index:1;
	position: relative;
	background: #FFFFFF;
}
.nav-bar h3 {
	text-align: center;
	padding: 2px;
}
.app-header {
	width: 100vw;
	height: 10vh;
	background: #A2A2A2;
}
.nav-bar {
	display: block !important;
	position: fixed;
	top: 0px;
	margin: 0px;
	width: 100vw;
	height: 8vh;
	z-index: 2;
	
}
h2 {
	display: block;
	margin: 15px;
	padding-top: 0px;
	text-align: center;
}
.menu-btns {
	display: inline-block;
	width: 100vw;
	margin: 0px;
}
.main-menu {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	
	background-color: rgba(255,255,255,0.90);
	
	z-index: 100;
	margin: 10vh 0px 10vh 0px;
}
.main-menu-btns {
	
	
	margin: 25vh 0px 10vh 40vw;
    width:30vw;
	
}
.main-menu-btns a {
	
	text-align: left;
	text-decoration: none;
	color: #000;
	margin: 20px 20px 20px 0px;
	background:#FFFFFF;
}
.main-menubtns a div {
	height: 10vh;
}

.main-menu-btns a :hover::before, .main-menu-btns a :active::before{
	/*Arrow goes here */
	width: 0px;
	height: 0px;
	content: ">";
	color: #000000;
	font-size:18px;
	left: 30vw;
    position: absolute;
    display: block;
    
	
}

.chatbot {
	display: block;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}
#menu-items {
	break-after: avoid-page;
}
main-menu-btn {
	width: 49vw;
	height: 45vh;
	
}
.new-menu {
	display: block;
	border: 0px;
	margin: 0px;
	width: 100vw;
	height: 100vh;
}
.new-menu tbody tr td a {
	display: table;
	width: 50vw;
	heigth: 50px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: White;
}
.new-menu tbody tr td a img {
	padding: 80px 0px 0px 0px;
}
table {
	display: table;
	border-spacing: 1px;
}
.new-menu tr {
	display: inline-flex;
	width: 50vw;
	height: 50vh;
	background-color: #A2A2A2;
	align-content: center;
	padding: 0px;
}
.new-menu td {
	display: inline-block;
	border: #FFFFFF solid 1px;
	background-color: #A2A2A2;
	align-items: center;
	padding: 0px;
}
.new-menu td div {
	height: 50vh;
}
.new-menu tbody {
	margin: 0px;
	width: 100%;
	height: 100%;
}
.new-menu td p {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.typing-dots {
	padding-left: 10px;
	
}
.typing-dots circle {
	background: #A2A2A2;
}
.header-title h2 {
	background: #A2A2A2;
	;
	color: #FFFFFF;
	text-align: center;
	margin: 5px 0px 0px 0px;
}

#tp_One, .chat-btns {
	
	height: 10vh;
	display: block;
	background:none;
	position:absolute;
	z-index:60;
	bottom:20;
	

	
}
#tpOne_form{
	margin-top: 0;
	background:#FFFFFF;
	border-top:solid #B3B3B3 1px;
}
.chat-btns-container{
	margin-top: 0;
	background:#FFFFFF;
	border-top:solid #B3B3B3 1px;
}
#scan-container {
	
	background: none;
	
}
#scan-form {
	display: block;
	
	height: 20vh;
	width: inherit;
	margin-top:80vh;
	
	background: #FFFFFF;
} 
#qr_canvas {
	display: none;
}
#footer {
	width: 100vw;
	align: bottom;
	position: fixed;
	bottom: 0;
	z-index: 1000;
}
#message-input {
	display: inline-flex;
	margin: 1px 0px 1px 0px;
	width: 90vw;
	max-height: 5vh;
	border: none;
	overflow-x: hidden;
	overflow-y: auto;
	word-wrap: break-word;
	word-break: break-all;
	resize: none;
	font-size:16px;
	outline:none;
	padding: 15px; 
	}



.page-header {
	width: 100vw;
	height: 10vh;
	background: #A2A2A2;
	margin-bottom: 0px;
}
.menu-btn {
	float: left;
	
	height: 30px;
	margin: 20px;
}
.menu-btn img, .bot-icon {
	vertical-align:middle;
}
#post-btn {
	float: right;
	display: inline-block;
	margin: 5px 20px 5px 0px;
	border-radius: 50%;
}
#chat {
	width: 100vw;
	max-height: 78vh;
	display: block;
	position: fixed;
	top: 10vh;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom: 2px solid #0000;
	border-top: solid 1px #B3B3B3;
	margin-top:10px; 
	z-index: 1;
}
#conversation p {
	bottom: 0;
	padding-bottom: 0;
	font-weight: bold;
}
#content-frame {
	display: block;
	width: 80vw;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #FFFFFFF;
}
.form {
	display: block ;
	position: fixed;
	bottom: 0px;
	z-index: 55;
	width: 100vw;
	margin-top: 1px;
	border-top: solid #B3B3B3 1px;
}
.user {
	padding: 2px 2px 0px 5px;
	margin: 5px;

}
.bubble .user p { 
	-webkit-margin-before: 0em;
	-webkit-margin-after:0em;
	padding:1em;
	text-align: left;
	display:inline-block; 	
	word-wrap:normal;
	}
	
.bubble .bot p { 
	-webkit-margin-before: 0em;
	-webkit-margin-after:0em;
	padding:1em;
	text-align: left;
	display:inline-block;	
	word-wrap:normal;
	
	}

.bot {
	
	padding: 2px 2px 0px 5px;
	margin: 5px;
}
.bot p {
	
	
	
	
}
.bubble {
	position: relative;
	max-width: 60vw;
	height:auto;
	padding: 2px 2px 2px 2px;
	border-radius: 5px;
	margin: 5px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
	word-wrap: break-word;
	word-break:normal;
	white-space:normal;
	clear:both;
}
.bot-bubble p {
	color:#000000;

}
.typing-bubble {
	position: relative;
	width: 15vw; 
	padding: 2px 2px 2px 2px;
	border-radius: 5px;
	margin: 5px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
}

.user-bubble {
	background: #EAE9F2;
	float: right; 
}
.bot-bubble:after {
	top: 0px;
	left: -7px;
	content: " ";
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid;
	display: block;
	width: 0;
	height: 0;
}
.user-bubble:after {
	top: 0px;
	right: -4px;
	content: " ";
	position: absolute;
	border-bottom: 10px solid transparent;
	border-right: 10px solid transparent;
	border-rigth-width: 5px;
	border-top: 25px solid #EAE9F2;
	border-top-width: 10px;
	display: block;
	width: 0;
	height: 0;
	
	
}
.typing-bubble:after {
	top: 0px;
	left: -7px;
	content: " ";
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid;
	display: block;
	width: 0;
	height: 0;
	
	
}
.option-button input {
	float: right;
	margin-right: 5px;
}
.option-button {
	background: #6968FF;
}
.container {
	padding: 0px auto 0px auto;
	text-align: center;
}
.bot-icon {
	margin:0px;
	padding: 0px 4px 0px 4px;
	width:43px; 
	height:52px;
}
.bot-icon-link{
	display:block;
	float: right;
	width:50px !important; 
	height:50px !important;
	margin: 7px 10px 0px 0px;
	
	border-radius: 50%;
}
.bot-timestamp {
	margin-left: 49vw;
	margin-bottom: 10px;
}
.user-timestamp {
	margin-left: 78vw;
	margin-bottom: 10px;
}
.timestamp :before {
	white-space: pre-line;
}
.timestamp {
	width: 100vw;
}
.timestamp p {
	font-size: 8px;
}
.options-btn-container a {
	display:inline-block;
	
	width: 10vw;
	height: 5vh;
	
	
}
.options-btn-container a div {
	
	height:inherit; 
	background: #FFFFFF;
	border: 1px solid #A2A2A2;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px; 
	border-top-left-radius:2px;
	border-top-right-radius: 2px;
	
}

.options-btn :hover, .options-btn :active,.scanner-label :hover, .scanner-label :active,.confirm-btn :hover,.confirm-btn :active{
	background: #F9C728;
	border:hidden;
}

.options-btn{
	width: 15vw;
	height: inherit; 
	display:inline-block;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px; 
	border-top-left-radius:2px;
	border-top-right-radius: 2px;
	border:solid 1px;	
	text-align:center;		
	padding:0px;
	margin-right: 15px;
	}
.options-btn div p{
	padding:0px;
	margin:7px;
	
}
#welcome-img {
	margin: 10vh 10vw 0px 10vw;
	align-self: center;
}
.welcome h1{
	margin: 0px 20vw 3vh 20vw;
}
.welcome-p{
	margin: 0px 20vw 3vh 20vw;
	    
}
.options-btn-container {
	width: 40vw;
	height: 5vh;
	margin: 5vh 30vw 1vh 30vw;
	
}
.pop-up {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	
	background-color: #FFFFFF;
	
	z-index: 60;
	margin: 0px;
	
}
.scanner-label div p {
	
	display:inline-block;
	margin:5px;
	padding-left: 10px;
	
}
.scanner-label div {
	display:inline-block;
	width: inherit;
}
.scanner-label img {
	width: 3vh;
	height: 3vh;
 
	float:right;
	margin: 5px;
	display:inline-block;
	
}
.scanner-label div img:before{
	
	
	content: " ";
	position: absolute;
	border-bottom: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-top: 25px solid #0000000;
	
	display: block;
	width: 0;
	height: 0;
	
}
.scanner-label{
	display:block;
	width:50vw;
	height: 5vh;
	border: 1px solid #515151;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	margin: 10px 30vw 10px 30vw;

}

.popup-container {
	
	position:absolute;
	height: 80vh;
	width: 96vw; 
	top:10px;
    border: solid 1px #515151;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
    margin-left: 2vw;
	margin-right:2vw;
	background:#FFFFFF;
	
}
.basic-info, .flight-info {
	font-weight:bold;
	font-size:18px; 
	margin-bottom: 10px;
}
.popup-btn-container{
	width: 100vw;
	display:block;
}
.confirm-btn{
	display: block;
	position:absolute;
	bottom:5vh;
	width:30vw;
	height: 10vh; 
	margin: 0px 35vw 0px 35vw; 
	background: #ffffff;
	border: solid 1px #000000;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	text-align:center;
	font-size: 24px;
}
.confirm-btn div{
	
	display: block;
	position:absolute;
	width:inherit;
	margin:0px; padding:0px;
}
.confirm-btn div p{
	
	margin: 3vh;
}
.info{
	margin:30vh 6vw 0px 6vw;
}
.ticket-img {
	width: 85vw; height: 35vh;
	margin-right: 0px; 
}
.ticket-img img{
	width: inherit; height: inherit;

}

